<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    
            <div class="wrapper">
                <div class="loginform">
                    <h3>login</h3>
                    <form action="/user-login" method="post">
                        <div class="inputbox">
                        
                            <input type="email" name="email" placeholder="enter the name">
                        </div>
                       
                        <div class="inputbox">
                        
                            <input type="password" name="password" placeholder="enter the password">
                        </div>
                        <div class="forgot">
                            <label for=""><input type="checkbox">rememeber</label>
                            <a href="signup">forgotten</a>
                        </div>
                        <button  type="submit" class="btn">login</button>
                        <div class="register">
                            <p>do not have an account? <a href="#" class="registerlink">register</a></p>
                        </div>
                    </form>
                    
                </div>
        </div>

</body>

</html>