<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
        <div class="wrapper">
            <div class="loginform">
                <h3>register</h3>
                <form action="/register" method="post">
                    <div class="inputbox">
                    
                        <input type="text" name="username" placeholder="enter the name">
                    </div>
                    <div class="inputbox">
                        <input type="email" name="email" placeholder="enter email">
                    </div>
                   
                    <div class="inputbox">
                    
                        <input type="password" name="password" placeholder="enter the password">
                    </div>
                    <div class="forgot">
                        <label for=""><input type="checkbox">agree to the terms and condition</label>
                       
                    </div>
                    <button type="submit" class="btn">register</button>
                    <div class="register">
                        <p>already have an account? <a href="login" class="loginlink">login</a></p>
                    </div>
                </form>
                
            </div>
      </div>
            
    
</body>

</html>